@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow: hidden;
}

h1 {
  font-weight: 700;
  font-size: 52px;
  align-self: center;
}

#content {
  overflow: hidden;
  font-family: "Lato", sans-serif;
  height: 100vh;
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  height: calc(100vh - 40px);
}

#sidebar {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: rgb(54, 54, 54);
}

#sidebar > button {
  appearance: none;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  background-color: rgb(240, 240, 240);
}

#sidebar > button:hover {
  background-color: rgb(54, 54, 54);
  color: white;
}

#sidebar > button:active {
  background-color: rgb(240, 240, 240);
  color: rgb(54, 54, 54);
}

.groups-line,
.settings-line {
  display: flex;
  gap: 10px;
  align-items: center;
}
.groups-line img,
.settings-line img {
  height: 15px;
  transform: rotate(90deg);
}

#footer {
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#footer img {
  height: 25px;
}
